html {
    background-image: url("https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    background-size: cover;
    background-repeat: no-repeat;
}
body {
    background-color: cornsilk;
    max-width: 50%;
    max-height: 768px;
    color: rgb(179, 109, 19);
    margin-left: 25%;
    padding-left: 1%;
    height: 95vh;
    background-position-x: center;
    border-radius: 50px;
    flex-grow: initial;

    
}
header {
    margin-top: 3%;
    padding-top: 15px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 7%;
}
form,
h2 {
    margin-bottom: 3%;
}
main {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#ingredient-list{
    font-size:larger; 
    width: 20%;
    margin-left: 39%;
    padding-bottom: 5px;
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x:visible;
    max-height: 100px;
}
#recipe-list{
    font-size: 25px;
    margin-left: 24%;
    width: 50%;
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: visible;
    max-height: 325px;
}
#recipe-list a {
    color:  rgb(179, 109, 19);
}
#recipe-list a:hover {
    color:  rgb(247, 199, 96);
}
#recipe-list a:active {
    color:  rgb(96, 18, 3);
}
#recipe-list li, #ingredient-list li {
   padding-bottom: 10px;
}

@media screen and (max-width: 768px) and (max-height: 680px) {
    #recipe-list{
        max-height: 150px;
        flex-shrink: initial;
    }
    


}