html{
    background-image: url(https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
    background-repeat: no-repeat;
}
body{
    background-color:cornsilk;
    width: 50%;
    margin-left: 25%;
    height: 95vh;
    background-position-x: center;
    border-radius: 50px;
}
header{
    padding-top: 15px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
section.recipes{
    border: 4px;
    border-color: burlywood;
}