html {
  background-image: url("https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  background-color: cornsilk;
  color: rgb(179, 109, 19);
  max-width: 80vw;
  margin: 0 auto;
  height: 90vh;
  background-position-x: center;
  border-radius: 50px;
}
.bg-cornsilk {
  max-width: 80vw; /* Adjust this value as needed */
  margin: 0 auto;
  padding: 0 10vw; /* This will create a 10vw margin on both sides */
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    padding: 0px;
    margin: 10%;
  }
}
header {
  margin-top: 3%;
  padding-top: 15px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 3%;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  margin-left: -16.7%;
  margin-right: -16.7%;
}
form,
h2 {
  margin-bottom: 3%;
}
main {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#ingredient-list {
  font-size: 20px;
  width: 20%;
  margin-left: 39%;
  padding-bottom: 5px;
  margin-bottom: 5px;
  overflow-y: scroll;
  overflow-x: visible;
  max-height: 150px;
  background-color: #fff;
  border: 7px solid #fcd34d;
  border-radius: 5px;
  scrollbar-width: thin;
  scrollbar-color: #bbb #fff;
  background-color: rgba(255, 255, 255, 0.8);
}

#ingredient-list li {
  font-size: 16px;
  font-weight: normal;
  color: #333;
}
#ingredient-list::-webkit-scrollbar {
  width: 6px;
}
#ingredient-list::-webkit-scrollbar-thumb {
  background-color: #bbb;
}
#ingredient-list::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}
  

#recipe-list {
  font-size: 25px;
  padding: 5px;
  margin: 5px;
  margin-left: 20%;
  padding-bottom: 1px;
  width: 55%;
  overflow-x: hidden;
  max-height: 225px;
  border: 7px solid #fcd34d;
  border-radius: 5px; /* Add border-radius */
  scrollbar-width: thin;
  scrollbar-color: #bbb #fff;
}

#recipe-list a {
  color: rgb(179, 109, 19);
}
#recipe-list a:hover {
  color: rgb(247, 199, 96);
}
#recipe-list a:active {
  color: rgb(96, 18, 3);
}
#recipe-list li,
#ingredient-list li {
  padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
  #recipe-list {
    width: 65%;
  }
}
@media screen and (max-width: 375px) {
  #recipes {
    max-height: 25%;
  }
}
